<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.power4j.flygon.admin.modules.sys.dao.SysUserMapper">

  <select id="countUsernameIgnoreLogicDel" resultType="java.lang.Integer">
    select count(1) from `t_sys_user` t where t.username = #{username}
    <if test="ignoreId != null">
      and t.id != #{ignoreId}
    </if>
  </select>
</mapper>
